@import "foundation/components/global";

h1 { font-size: rem-calc(22) ;}
h2 { font-size: rem-calc(20) ;}
h3 { font-size: rem-calc(19) ;}
h4 { font-size: rem-calc(18) ;}
h5 { font-size: rem-calc(17) ;}
h6 { font-size: 1rem ;}

.clear-icon {
  padding-top: 0.5em;
  font-size: 2em;
  cursor: pointer;
}

.offender-list {
  p {
    margin: 0;
    border-top: 1px solid #CCC;
  }

  a {
    display: block;
    padding: 1em 0 1em 0.5em;
  }

}

dt,
dd {
  display: inline-block;
  vertical-align: top;
}
dt {
  width: 25%;
  padding-right: 1%;
  text-align: right;
}
dd {
  width: 72%;
  padding-left: 1%;
}

small.hide {
  display: none;
}

.help {
  font-size:.85em;
  color:#898989;
}
